
<nav class="navbar navbar-light bg-primary">
  <a class="navbar-brand" href="#"><%= @company.name %></a>
</nav>

<h2>Employees</h2>
<%= render 'employees_listing'%>
<%= link_to "Register Employee", new_company_employee_path(company_id: @company.id), class: "btn btn-success" %>
<%= link_to 'Go to Admin', rails_admin_path, class: 'btn btn-primary' %>
